# Keycloak
KEYCLOAK_CONTAINER_NAME=keycloak
KEYCLOAK_PORT=8081
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# Postgres
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_IMAGE_TAG=17-alpine
POSTGRES_PORT=5432
POSTGRES_USER=default
POSTGRES_PASSWORD=default
POSTGRES_DB=default
