API_BANK_A=http://localhost:18080
API_BANK_C=http://localhost:48080
API_CENTRAL_BANK_A=http://localhost:38080
API_BANK_B=http://localhost:28080
API_BANK_D=http://localhost:58080
API_CENTRAL_BANK_B=http://localhost:68080

BANK_A_FRONTEND_PORT=5173
BANK_B_FRONTEND_PORT=5174
BANK_C_FRONTEND_PORT=5175
BANK_D_FRONTEND_PORT=5176
CENTRAL_BANK_A_FRONTEND_PORT=5177
CENTRAL_BANK_B_FRONTEND_PORT=5178