API_BANK_A=http://localhost:18080/api/v1/
API_BANK_C=http://localhost:48080/api/v1/
API_CENTRAL_BANK_A=http://localhost:38080/api/v1/
API_BANK_B=http://localhost:28080/api/v1/
API_BANK_D=http://localhost:58080/api/v1/
API_CENTRAL_BANK_B=http://localhost:60080/api/v1/

BANK_A_FRONTEND_PORT=5173
BANK_B_FRONTEND_PORT=5174
BANK_C_FRONTEND_PORT=5175
BANK_D_FRONTEND_PORT=5176
CENTRAL_BANK_A_FRONTEND_PORT=5177
CENTRAL_BANK_B_FRONTEND_PORT=5178
CENTRAL_BANK_A_TREASURY_PORT=5179
CENTRAL_BANK_B_TREASURY_PORT=5180

DISPATCHER_PORT=5181

SPOKE_A_FIAT_SYMBOL=BRL
SPOKE_B_FIAT_SYMBOL=ARS

BANK_A_PORTAL_OWNER=BANK_A_OPERATOR
BANK_B_PORTAL_OWNER=BANK_B_OPERATOR
BANK_C_PORTAL_OWNER=BANK_C_OPERATOR
BANK_D_PORTAL_OWNER=BANK_D_OPERATOR
CENTRAL_BANK_A_PORTAL_OWNER=CENTRAL_BANK_A_OPERATOR
CENTRAL_BANK_B_PORTAL_OWNER=CENTRAL_BANK_B_OPERATOR

BANK_A_INSTITUTION_NAME="Bank A"
BANK_B_INSTITUTION_NAME="Bank B"
BANK_C_INSTITUTION_NAME="Bank C"
BANK_D_INSTITUTION_NAME="Bank D"
CENTRAL_BANK_A_INSTITUTION_NAME="Central Bank A"
CENTRAL_BANK_B_INSTITUTION_NAME="Central Bank B"
SPOKE_A_GOVERNANCE_INSTITUTION_NAME="Spoke A Governance"
SPOKE_B_GOVERNANCE_INSTITUTION_NAME="Spoke B Governance"

VITE_BANK_A_PORTAL_URL=http://localhost:5173
VITE_BANK_B_PORTAL_URL=http://localhost:5174
VITE_BANK_C_PORTAL_URL=http://localhost:5175
VITE_BANK_D_PORTAL_URL=http://localhost:5176
VITE_CENTRAL_BANK_A_PORTAL_URL=http://localhost:5177
VITE_CENTRAL_BANK_B_PORTAL_URL=http://localhost:5178
VITE_CENTRAL_BANK_A_TREASURY_URL=http://localhost:5179
VITE_CENTRAL_BANK_B_TREASURY_URL=http://localhost:5180
