APP_PORT=8080
AUTH_MODE=hybrid
AUTH_TOKEN_TTL_SEC=900
AUTH_TOKEN_ISSUER=cbweb3-api-gateway
AUTH_TOKEN_AUDIENCE=cbweb3-pilot
AUTH_MOCK_CLIENTS=bank-a:secret-a,bank-b:secret-b
REQUEST_TIMEOUT_SEC=5

# Expected to be provided by deploy/local stack.
KEYCLOAK_TOKEN_URL=http://localhost:8081/realms/cbweb3/protocol/openid-connect/token
KEYCLOAK_INTROSPECTION_URL=http://localhost:8081/realms/cbweb3/protocol/openid-connect/token/introspect
KEYCLOAK_CLIENT_ID=cbweb3-gateway
KEYCLOAK_CLIENT_SECRET=change-me
POSTGRES_DSN=postgres://cbweb3:cbweb3@localhost:5432/cbweb3?sslmode=disable

